@font-face {
  font-family: 'Chetta Vissto';
  src: url('https://assets.cinelove.me/fonts/webfonts/chetta-vissto/chetta-vissto.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
