@font-face {
  font-family: 'BrikeyMoura Regular';
  src: url('https://assets.cinelove.me/fonts/webfonts/brikeymoura-regular/brikeymoura-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
